.card {
    background-image: url('./images/cards/playerCardLineup.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 100px;
}
.cardPlayers{
    background-image: url('./images/cards/bronze-totw-24.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 290px;
    width: 200px;
}
.playerCard{
    background-image: url('./images/cards/bronze-totw-24.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.playerCard2{
    background-image: url('./assets/images/cards/homecard.png');
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.addcard{
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}


