
.card {
    background-image: url('./images/cards/playerCardLineup.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    width: 20vw; 
    max-width: 100px;
    aspect-ratio: 2 / 3; 
}

.cardPlayers{
    background-image: url('./images/cards/bronze-totw-24.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 290px;
    width: 200px;
}
.playerCard{
    background-image: url('./images/cards/bronze-totw-24.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.playerCard2{
    background-image: url('./assets/images/cards/homecard.png');
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}

.addcard{
    background-image: url('./images/cards/bronze-totw-24.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 210px;
    width: 150px;
}

.card2 {
    background-image: url('./images/cards/playerCardLineup.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 80px;
}
.player-card:hover {
    background-color: #e1f5fe;
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .card {
        width: 20vw; 
    }
}